body{
  font-family: 'monserrat', "source sans pro";
  font-size: 18px;
}

.category-parent{
  display: flex;
  font-weight: 800;
  font-size: 1.2rem;
}

.category-children{
  border-left: 1.5px solid $primary;
  padding-left: 1rem;
}

.category-icon {
  opacity: 0.5;

  &:hover{
    opacity: 1;
  }
}

.mw-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mw-half{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.ml-half{
  margin-left: 0.5rem;
}

.mr-half{
  margin-right: 0.5rem;
}

// tags
.tag-container{
  margin-bottom: 1.5rem;
  border-radius: 0.35rem;
}

.tag-parent{
  padding: 0.2rem 1rem;
  display: flex;
  justify-content: space-between;
  font-weight: 800;
  font-size: 1.1rem;
}

.tag-children{
  margin-top: 1rem; 
  margin-bottom: 0.85rem;
  padding: 0 1rem;
}

.tag-footer{
  padding: 0.2rem 1rem;
}

// navbar
